<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/custodian.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Login Landing Page</title>
</head>
<body>
    <section class="side">
        <h2>Welcome to our Petty Cash System!</h2>
        <br>
        <h3>Our system aims to help your business manage small expenses</h3>
    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">Welcome back Custodian</p>
            <div class="separator"></div>
            <p class="welcome-message">Please provide your login credentials to proceed and access all of our services</p>

            <% if (error) { %>
                <div class="error"><%= error %></div> <!-- Display error message -->
            <% } %>

            <form class="login-form" action="/login" method="POST">
                <div class="form-control">
                    <input type="text" name="username" placeholder="Username" required>
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class="fas fa-lock"></i>
                </div>

                <button type="submit" class="submit">Login</button>
            </form>
        </div>
    </section>
</body>
</html>
